@keyframes subtleGlow {
    0% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }

    50% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }

    100% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
}

.animate-subtleGlow {
    animation: subtleGlow 2s infinite ease-in-out;
}

@keyframes logoSpin {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.animate-logoSpin {
    animation: logoSpin 3s infinite ease-in-out;
}